<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>tambah_pesan</servlet-name>
        <servlet-class>boundary.HalamanTambahPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tambah_pesan_e1</servlet-name>
        <servlet-class>boundary.HalamanTambahPesanE1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tambah_pesan_e2</servlet-name>
        <servlet-class>boundary.HalamanTambahPesanE2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>daftar_pesan</servlet-name>
        <servlet-class>boundary.HalamanDaftarPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>daftar_pesan_kosong</servlet-name>
        <servlet-class>boundary.HalamanDaftarPesanKosong</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tambah_pesan</servlet-name>
        <url-pattern>/tambah_pesan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tambah_pesan_e1</servlet-name>
        <url-pattern>/tambah_pesan_e1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tambah_pesan_e2</servlet-name>
        <url-pattern>/tambah_pesan_e2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>daftar_pesan</servlet-name>
        <url-pattern>/daftar_pesan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>daftar_pesan_kosong</servlet-name>
        <url-pattern>/daftar_pesan_kosong</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>daftar_pesan</welcome-file>
    </welcome-file-list>
</web-app>
